$black-color: #1c1c1c;

$white-color: #ffffff;

$red-color: #ff1d5e;

$card-gradient: linear-gradient(241.43deg, #3b37f1 0%, #ff007d 100%);
$button-gradient: linear-gradient(88.29deg, #2f80ed 1.44%, #de16ca 100%);
